{{ define "main" }}
<section class="bg-mustard pt6 pb4 ph6-l">
  <section class="pb4 pt5 mh3 mh6-l">
    <header class="mw4 center">
      <img src="/images/bee_fill.svg">
    </header>
    <article class="b--dashed mv4 pv4 bt bb br-0 bl-0 cf">    
      <h1 class="yes mid-gray dib fl-l w-50-l pv0 mb4 mv0-l pr3 tracked-tight lh-solid tr f2 f-subheadline-l">
        {{ .Title | safeHTML }}
      </h1>
      <p class="mrwss mid-gray dib fl-l w-50-l mv0 pl3 lh-copy f6 fw3">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
    </article>
    <aside class="mrws mid-gray w5 center mb4 f4 i tc">Aperiam id conse quuntur earum quod atque modi.</aside>
    <header class="mw4 center">
      <img class="" src="/images/bee_fill_stinger.svg">
    </header>
  </section>
  <footer class="tc">
      <ul class="unica white dib mv6 mh3 mh0-l pa0 tracked f6 f5-ns ttu">
        <li class="dib mr2">Yeseva One,</li>
        <li class="dib mr2">Merriweather,</li>
        <li class="dib">Merriweather sans,</li>
        <li class="dib">Unica One</li>
      </ul>
  </footer>
</section>
{{ end }}
