{{ define "main" }}
<section class="bg-black">
  <section class="bg-transparent relative vh-100 cf overflow-hidden">
    <h1 class="one real-roboto white absolute db ma0 f-immense fw9">
        1
    </h1>
    <article class="bg-transparent relative dib mw5 mt6 mr6 fr lh-copy tr">    
      <p class="mid-gray dib f5 fw3">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
    </article>
  </section>
  <section class="bg-white-10 white relative pb4 pt5">
      <header class="mw7 center tc">
      <h1 class="black overflow-hidden overflow-visible-ns tracked-tight lh-solid f-super fw9">
          hire us
      </h1>
      </header>
      <article class="absolute top-0 left-0 bottom-0 right-0 h-25 center-a w-50">    
        <p class="mrwss mid-gray dib ma0 lh-copy f6 fw3">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus?</p>
      </article>
    </section>
</section>
{{ end }}
