{{ define "main" }}
<section class="valley relative overflow-hidden pt6 pb4 ph6">
  <header class="tc pb4">
      <h1 class="julius black dib w-50 pv0 mv0 lh-copy f2 fw4 ttu">
        {{ .Title | safeHTML }}
      </h1>
  </header>
  <section class="pb4 pt5 mh6 b--black-30 bt">
    <article class="">    
      <p class="crimson black mt0 mb4 cc-2 lh-copy f5 fw4">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
    </article>
    <aside class="crimson f3 i tc">aperiam id conse quuntur earum quod atque</aside>
  </section>
  <footer class="tc">
      <ul class="unica white dib mv6 mh0 pa0 tracked f6 f5-ns ttu">
        <li class="dib mr2">Ultra,</li>
        <li class="dib mr2">Stint Ultra Expanded,</li>
        <li class="dib">Slabo 13px</li>
      </ul>
  </footer>
  <div class="wind"></div>
</section>
{{ end }}
