<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jekyons</title>
  <meta name="description" content="Stop writing CSS and start building prototypes.">

  <link rel="canonical" href="/jekyons//">
  <link rel="alternate" type="application/rss+xml" title="Jekyons" href="/jekyons//feed.xml">

  <!-- Styles -->
  <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.5/css/tachyons.min.css"/>
  <script src="https://use.fontawesome.com/fb3b930dc0.js"></script>
  <link rel="stylesheet" href="/jekyons//css/main.css">

  <!-- GA for gh-pages -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42682851-6', 'auto');
  ga('send', 'pageview');

  </script>
</head>


  <body class="bg-black white roboto">

    <header class="ma4 ma5-ns">
  <a class="f2 link white" href="">Jekyons <span class="o-50">v1</span></a>
  <p class="f4 mb4 db lh-copy mt1">Stop writing CSS and start building prototypes.</p>
  <div class="mb6 db">
    <a class="link ba mr3 br2 pa3 f5 mb3 dib white dim" href="https://github.com/tinychime/jekyons/releases/tag/v1">Download Jekyons <span class="o-50">v1</span></a>
    <a class="link ba mr3 br2 pa3 f5 mb3 dib white dim" href="https://github.com/tinychime/jekyons/blob/master/README.md">How To Get Started</span></a>
    <!-- <a class="link ba br2 pa3 f5 dib white dim" href="https://twitter.com/intent/tweet?text=wow%20y%27all%20check%20out%20this%20siiiiick%20prototyping%20starter%20kit%20by%20%40joshosbrn%20where%20does%20he%20find%20the%20time%3F%3F%3F%20www.tinychime.github.io%2Fjekyons&source=clicktotweet&related=clicktotweet">Tweet About It</a> -->
  </div>
</header>


    <div class="page-content">
      <div class="wrapper">
        <!-- Loop over _data/features.yml -->
<div class="ma4 ma5-ns">
  
  <div class="w-33-l pr4 mb5 fl-l mt4 cf-4th p-fix">
    <i class="fa fa-css3 fa-5x"></i>
    <h2 class="normal">Functional CSS</h2>
    <p class="lh-copy f5">Front-end code is categorically bad and I think you should write less of it. If you're building websites for a living and still writing CSS all the damn time, welcome 2 the future.</p>
  </div>
  
  <div class="w-33-l pr4 mb5 fl-l mt4 cf-4th p-fix">
    <i class="fa fa-cog fa-5x fa-spin"></i>
    <h2 class="normal">Auto-update</h2>
    <p class="lh-copy f5">Using a potent combination of magic and node.js, BrowserSync automatically refreshes your browser every time you save. You can even test on multiple devices all at once using an external IP.</p>
  </div>
  
  <div class="w-33-l pr4 mb5 fl-l mt4 cf-4th p-fix">
    <i class="fa fa-bug fa-5x"></i>
    <h2 class="normal">Actively Maintained</h2>
    <p class="lh-copy f5">I use Jekyons every day to create prototypes for profit & pleasure. That means any updates I decide to make in an attempt to make my job easier get passed on to you in the form of new features.</p>
  </div>
  
  <div class="w-33-l pr4 mb5 fl-l mt4 cf-4th p-fix">
    <i class="fa fa-code fa-5x"></i>
    <h2 class="normal">Jekyll Templating</h2>
    <p class="lh-copy f5">With Jekyll's templating engine, you can share partial sections of code across multiple pages. Make your :( static prototype :( feel like a ~*fancy app*~.</p>
  </div>
  
  <div class="w-33-l pr4 mb5 fl-l mt4 cf-4th p-fix">
    <i class="fa fa-cloud-upload fa-5x"></i>
    <h2 class="normal">Easy Deployment</h2>
    <p class="lh-copy f5">Ready to share your creation with the world (or your Mom)? Spin up an outside IP using BrowserSync or deploy to Github Pages to share your work with others</p>
  </div>
  
  <div class="w-33-l pr4 mb5 fl-l mt4 cf-4th p-fix">
    <i class="fa fa-database fa-5x"></i>
    <h2 class="normal">Real Data (Coming Soon)</h2>
    <p class="lh-copy f5">Parse real API data using 18F's jekyll-get plugin and take your prototypes to the next level. Loop over real data just like you would using local data files.</p>
  </div>
  
</div>

<div class="ma4 ma5-ns">
  <p class="lh-copy f4 cf">* This very list of features was created by looping over a .yml file and applying styles from Tachyons.css in less than 10 lines of code. Fork the <a href="" class="link white bb pb1">Jekyons repo</a> and check out the _data directory to see how it works.</p>
</div>

      </div>
    </div>

    <footer class="ma4 mt7 mt6-ns ma5-ns cf lh-copy">
  <p class="f4">Slapped together with half-chewed gum &amp; Jekyons by <a class="link white bb pb1" href="http://www.twitter.com/joshosbrn">Josh Osborne</a>.<p>
</footer>


  </body>

</html>
