{{ define "main" }}
<section class="bg-orange pv4 ph4 pv6-ns ph6-ns">
  <header class="tc pb4 pb6-ns">
      <h1 class="dib white pa3 ba tracked-mega f5 f4-ns fw4 ttu">
        {{ .Title }}
      </h1>
  </header>
  <article class="cf mb5 mb6-ns">
    <p class="fl white w-33 mt3-ns mb0 mr5-ns lh-copy f6 f2-ns fw5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam id consequuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
    <p class="black mt0 lh-solid f2 f-headline-ns fw5">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
  </article>
  <footer class="tc">
    <p class="white mt0 mb5 mb6-ns f3 f2-ns fw3 i">Necessity is the mother of invention.</p>
    <p class="tracked-mega f6 fw4 ttu">Types In Use</p>
    <p class="mb3 mb4-ns f6 fw5">Lato</p>
    <hr class="black bt bb-0 br-0 bl-0 w4">
    <p class="mb3 mt4-ns tracked-mega f6 fw4 ttu">Set By</p>
    <p class="white f6 fw5">Coffee Bean<span class="black"> Agency</span></p>
  </footer>
</section>
{{ end }}
