{{ if ne .Site.Params.show_menu false }}
  <nav class="wow animated fadeIn" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="list pa0 mv4 lh-copy">
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        {{ if and ($.IsHome) }}
        <li class="dib mr2">
          <a itemprop="url" class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}} link underline-hover dark-gray b ttu" href="{{ .URL }}"><span itemprop="name">{{ .Name }}</span></a>
        </li>
        {{else if not (hasPrefix .URL "#")}}
        <li class="dib mr2">
          <a itemprop="url" class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}} link underline-hover dark-gray b ttu" href="{{ .URL }}"><span itemprop="name">{{ .Name }}</span></a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
{{ end }}
