  <div class="cf mv4 mv0-ns mw8">
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>Devices</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-mobile"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-tablet"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-laptop"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-desktop"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-apple"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-android"></i></li>
    </ul>
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>Browsers</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-chrome"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-safari"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-internet-explorer"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-firefox"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-opera"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-edge"></i></li>
    </ul>
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>Code</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-html5"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-css3"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-jsfiddle"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-codepen"></i></li>
    </ul>
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>SCM</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-git"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-github"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-bitbucket"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-gitlab"></i></li>
    </ul>
  </div>
