{{ define "main" }}
<section class="bg-light-gray pv4 ph4 pv6-ns ph6-ns">
  <header class="tc pb4 pb6-ns">
      <h1 class="dib mid-gray pa3 tracked-mega f4 fw4 ttu">
        {{ .Title }}
      </h1>
  </header>
  <section class="cf mb4 mb6-ns">
    <article class="fl w-third w-third-ns ph2 ph3-ns tr">
      <h1 class="mid-gray mv0 lh-solid tracked-tight v-top f2 f-headline-ns fw9 ttu">Xox</h1>
      <h1 class="light-gray mv0 lh-solid tracked-tight v-top f2 f-headline-ns fw9 ttu">X<span class="dark-red">o</span>x</h1>
      <h1 class="mid-gray mv0 lh-solid tracked-tight v-top f2 f-headline-ns fw9 ttu">X<span class="light-gray">o</span>x</h1>
      <h1 class="light-gray mv0 lh-solid tracked-tight v-top f2 f-headline-ns fw9 ttu">Xox</h1>
      <h1 class="db dn-ns dark-red mv0 lh-solid tracked-tight v-top f-super2 fw9 ttu">X</h1>
    </article>
    <article class="fl w-two-thirds w-third-ns ph2 ph3-ns">    
      <p class="white mt1 mv0-l v-top f5 f3-ns fw7 tj">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
      <h1 class="mid-gray mv0 lh-solid tracked-tight v-top f2 f-headline-ns fw9 ttu"><span class="light-gray">X</span>ox</h1>
      <h1 class="mid-gray mv0 lh-solid tracked-tight v-top f2 f-headline-ns fw9 ttu">Xox</h1>
    </article>
    <article class="dn db-ns fl w-third-ns ph3">   
      <h1 class="light-gray mv0 lh-solid tracked-tight v-top f-headline fw9 ttu">Xox</h1>
      <h1 class="mid-gray mv0 lh-solid tracked-tight v-top f-headline fw9 ttu">Xo<span class="light-gray">x</span></h1>
      <h1 class="mid-gray mv0 lh-solid tracked-tight v-top f-headline fw9 ttu">Xox</h1>
      <h1 class="dark-red mv0 lh-solid tracked-tight v-top f-super fw9 ttu">X</h1>
    </article>
  </section>
  <footer class="tc">
    <p class="tracked-mega f6 fw4 ttu">Types In Use</p>
    <p class="mb4 f6 fw5">Lato</p>
    <hr class="black bt bb-0 br-0 bl-0 w4">
    <p class="mt4 tracked-mega f6 fw4 ttu">Set By</p>
    <p class="dark-red f6 fw5">Coffee Bean<span class="black"> Agency</span></p>
  </footer>
</section>
{{ end }}
