<footer class="bg-black white pa4 pa5-ns cf lh-copy">
  <div class="tc ">
    <h2 class="f3 mid-gray fw7">Subscribe to our newsletter</h2>
    <form class="pb4-ns">
      <input class="bg-black light-gray bt-0 bl-0 br-0 bb-2 bb pb1 w5 ttu tracked fw7 f6 lh-copy" id="mc-email" name="email" placeholder="Your email address" required type="email">
      <button class="db dib-l fw7 link bg-black white hover-dark-red bn center mt2 ma0-l pl4-l ttu tracked">Subscribe</button>
    </form>
    <div class="pv4 fw3 mid-gray cf">
      <div class="tc tl-l fl-l">
        <p class="ma0 f6 ttu tracked">Copyright&copy; <span class="red">Les Picker Fine Art Photography</span> | Contact | <a href="mailto:{{ .Site.Params.contact_email }}" class="link silver hover-dark-red">{{ .Site.Params.contact_email }}</a></p>
        <a href="/" target="_blank" class="f6 ttu tracked link silver underline-hover">Design By RB <span class="red">Agency</span></a>
      </div>
      <div class="fr-l">
          <a href="https://twitter.com/lespicker?lang=en" class="pl1 f6 ttu tracked link silver underline-hover">Twitter</a>
          <a href="https://business.facebook.com/lespickerphoto/?ref=your_pages" class="pl1 f6 ttu tracked link silver underline-hover">Facebook</a>
          <a href="https://www.instagram.com/lespicker/" class="pl1 f6 ttu tracked link silver underline-hover">Instagram</a>
        </div>
    </div>
  </div>
</footer>
  