{{ define "main" }}
<section class="bg-green pv4 pv6-ns ph6-ns">
  <header class="">
  </header>
  <article class="bg-tree cf mb4 mb6-ns tc">
    <h2 class="navy mv4 mv6-ns mh4 mh6-ns lh-solid tc">
      <span class="ultra-ex db tracked f3 f1-ns fw3 ttu">The</span>
      <span class="ultra db f1 f-subheadline-ns fw9 ttu">Organic</span>
      <span class="ultra-ex db f3 f1-ns fw3 ttu">Feeling</span>
      <span class="ultra db f1 f-subheadline-ns fw9 ttu">Thing</span>
    </h2>
    <p class="ultra-ex dib white w4 w5-ns mt0 mb0 mr2 v-top tracked tr lh-copy f5 f3-ns fw3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="slabo navy dib black w4 w5-ns mt0  ml2 v-top tl lh-copy f6 f5-ns fw5">Lorem, ipsum dolor sit amet consec tetur adipisicing elit. Aperiam id conse quuntur earum quod atque modi, molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum. Molestias aspernatur in dolor quasi vel voluptate minima perferendis esse dolore neque voluptatibus? Velit, eum.</p>
  </article>
  <footer class="tc">
    <ul class="unica white dib ma0 pa0 tracked f6 f5-ns ttu">
      <li class="dib mr2">Ultra,</li>
      <li class="dib mr2">Stint Ultra Expanded,</li>
      <li class="dib">Slabo 13px</li>
    </ul>
  </footer>
</section>
{{ end }}
